.btn {
    margin-top: 10px;
    margin-left: 30px;
    color: white;
    background: pink;
    border: 1px solid pink;
    width: 200px;
    height: 40px;
    border-radius: 0.25rem;
}

.space {
    margin-left: 30px;
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
}

.text {
    margin-left: 30px;
    margin-bottom: 10px;
}
